#contato {
    width: 100%;
    height: 97vh;
    display: flex;
    margin-top: 10rem;



}

#contato>#area-texto-contato {
    width: 40%;

    display: flex;
    justify-content: center;
    align-items: center;


}

#contato>#area-texto-contato>form {
    width: 80%;
    margin-top: -15rem;
}

#contato>#area-texto-contato>form>h1 {
    font-size: 3rem;

}

#contato>#area-texto-contato>form>p {
    font-size: 1.2rem;

}

#contato>#area-texto-contato>form>input {
    width: 350px;
    height: 40px;
    margin-top: 2rem;
    border: 2px solid;
    border-radius: 5px;
    border-color: black;

}

#contato>#div-img-contato {

    width: 60%;
    display: flex;
    justify-content: end;
    align-items: center;
    margin-right: -5rem;




}

#contato>#div-img-contato>#carro_contato {
    width: 100%;


}
