
header {
    width: 90%;
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

img {
    width: 100px;
}

ul {
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
}

li {
    list-style: none;
}

a {
    font-family: "porsche next";
    color: black;
    font-size: 0.9rem;
    text-decoration: none;

}

li:hover {
    letter-spacing: 1px;
    transition: all 0.1s;
    border-bottom: 2px solid black;
}

#menu_hamburguer{
    display: none;
}

@media (max-width: 767px) {
 
    header{
        width: 90%;
        
    }
   
    #logo-header{
        width: 70px;
    }

    nav{
        display: none;
    }

    #menu_hamburguer{
        display: flex;
        justify-content: end;
    }

    
}