

#modelos {
    width: 80%;

    display: flex;
    flex-direction: column;
    justify-content: center;

}

#div-titulo-modelos {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;


}

#div-titulo-modelos>h1 {
    font-family: 'porsche next';
}

#div-card-modelos {
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-left: 5rem;



}

.card-modelo{
    width: 33%;
}

#div-modelo-1 {
    width: 33%;


}

#div-modelo-2 {
    width: 33%;


}

#div-modelo-3 {
    width: 33%;


}

#div-modelo-4 {
    width: 33%;


}

#div-modelo-5 {
    width: 33%;


}

#div-modelo-6 {
    width: 33%;


}

#div-modelo-7 {
    width: 33%;


}

#div-modelo-8 {
    width: 33%;


}

#div-modelo-9 {
    width: 33%;


}

.img-modelo{
    width: 90%;
}



#div-modelo-1>img {
    width: 90%;
}

#div-modelo-2>img {
    width: 90%;
}

#div-modelo-3>img {
    width: 90%;
}

#div-modelo-4>img {
    width: 90%;
}

#div-modelo-5>img {
    width: 90%;
}

#div-modelo-6>img {
    width: 90%;
}

#div-modelo-7>img {
    width: 90%;
}

#div-modelo-8>img {
    width: 90%;
}

#div-modelo-9>img {
    width: 90%;
}



.text-card > p{
    font-family: 'porsche next';
    font-weight: bolder;
}

.text-card > span{
    font-family: 'nexa';
    font-weight: bold;
}

